body {
    background-color: #f5f5f5;
    font-family: 'Poppins', sans-serif;
}

header,
footer {
    width: 400px;
    text-align: center;
    margin: 30px auto 0px auto;
}

main {
    width: 400px;
    margin: 30px auto 0px auto;

}

form {
    font-size: 18px;
}

input {
    font-family: 'Poppins', sans-serif;
}

select {
    font-family: 'Poppins', sans-serif;

}