body {
    background-color: #f5f5f5;
    font-family: 'Poppins', sans-serif;
}

header,
footer {
    width: 400px;
    text-align: center;
    margin: 30px auto 0px auto;
}

main {
    width: 400px;
    margin: 30px auto 0px auto;

}

label {
    display: block;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-size: 18px;
}

input {
    display: inline;
    width: 236px;
    border: 1px solid #ced4da;
    padding: 10px;
    border-radius: 0px 5px 5px 0px;
    font-weight: 200;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

input[type="submit"] {
    background-color: #fd0c49;
    color: #fff;
    font-weight: 400;
    width: 100%;
    border-radius: 5px;
}

select {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-weight: 200;
    font-size: 18px;
}

#nicka {
    float: left;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    width: 20px;
    background-color: #ced4da;
    border: Ipx solid #ced4da;
    padding: IOpx;
    border-radius: 5px Opx Opx 5px;
    font-weight: 400;
    font-size: 18px;
}